.friends-container {
  display: flex;
  flex-wrap: wrap;
}

.friend-card {
  width: 31%;
  text-align: center;
  margin: 1%;
  border: 1px solid lightgray;
}

span {
  font-weight: bold;
}

.nav-bar {
  height: 60px;
  background: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  padding: 5px 10px;
  margin: 5px;
  background: black;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.btn:hover {
  color: black;
  background: white;
}

.form {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: black;
}

.form input {
  border: none;
  border-bottom: 1px solid white;
  background-color: black;
  margin: 0 5px;
  color: white;
}


.form input:focus {
  outline: none;
  
}

::placeholder {
  color: white;
}